/* Скидання стандартних стилів */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
}

/* ПЕРШИЙ ЕКРАН */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  max-width: 600px;
  color: #ffffff;
  padding: 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background: #ffffff;
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

.btn:hover {
  background: #e6e6e6;
}
